.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #3B5998;
  text-align: center;
  color: white;
}

.dancing{
    position: absolute;
    left: 45%;
}